.employee-container {
  border-radius: 10px;
  background-color: rgb(218, 218, 218);
  font-weight: bold;
  color: rgb(10, 0, 65);
  border-radius: 4px;
  padding: 10px;
  width: 600px;
  height: 540px;
  margin: 8% 8% 0 10%;
}
.add-employee{
margin: 2%;
height: 500px;
}