.employeesal-container {
    border-radius: 10px;
    background-color: cadetblue;
    padding: 10px;
    width: 600px;
    height: 580px;
    margin: 8% 8% 0 10%;
  }
  .edit-employeesal{
  margin: 2%;
  height: 500px;
  }