img{
    width :150px;
    height: 150px;
    margin: 10%;
    padding: 0 2%;
}
.card{
    border: solid;
    margin: 3%;
    width :200px;
    height: 200px;
    float: left;
    background-color: rgb(10, 0, 65);
}
p{
    text-align: center;
    color: cornsilk;
}